.users {
	text-align: center;
	border-collapse: collapse;
	border: 3px solid #ddd;
	width: fit-content;

	td, th {
		border: 1px solid #ddd;
		padding: 8px;
	}

	tr:hover {
		background-color: #ddd;
		cursor: pointer;
	}
}