* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px;

	&-form {
		width: fit-content;
	}

	&-users {
		width: fit-content;
	}
}

@import './form-component';
@import './users-table';
@import './modal-component';